.DS_Store
*.xcodeproj/**

*.xcworkspace/**
!*.xcworkspace/*.xcworkspacedata

Pods
.idea

build/*

cpd-output.*
DerivedData
build.output
/report.html# XcodeYamlizer
#Application.xcodeproj/project.pbxproj
#Pods/Pods.xcodeproj/project.pbxproj
# end
# XcodeYamlizer
Application.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/project.pbxproj
# end
