.DS_Store
*.xcodeproj/**

*.xcworkspace/**
!*.xcworkspace/*.xcworkspacedata

Pods
Podfile.lock
.idea

Modules/*/*.xcodeproj/**
!Modules/*/*.xcodeproj/*.pbxproj

build/*
build.output/*
pkg/*

cpd-output.*
DerivedData
build.output
/report.html# XcodeYamlizer
Application.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/project.pbxproj
# end
